@import "tailwindcss";
@plugin "daisyui";

/* Color Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Font Face Definitions */
@font-face {
  font-family: 'Netflix Sans';
  src: url('/fonts/NetflixSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('/fonts/NetflixSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('/fonts/NetflixSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('/fonts/NetflixSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Global Body Styles */
body {
  background: var(--background);
  color: var(--foreground);
  scrollbar-width: none;
  font-family: 'Netflix Sans', sans-serif;
}
